# Data Science Tools and Ecosystem

## In this notebook, Data Science Tools and Ecosystem are summarized.

## Some of the popular languages that Data Scientists use are:
1. Python
1. R
1. SQL

***

## Some of the commonly used libraries used by Data Scientists include:
1. Numpy
1. Pandas
1. Seaborn
1. SciPy

***

| Data Science Tools       |
|--------------------------|
| Jupyter Notebooks         |
| R Studio                  |
| Apache Spark              |

### Below are a few examples of evaluating arithmetic expressions in Python:
1. Addition
1. Subtraction
1. Division
1. Multiplication

In [7]:
# his a simple arithmetic expression to mutiply then add integers.
Result =(3*4)+5
Result

17

In [8]:
# This will convert 200 minutes to hours by dividing by 60
minutes = 200
hours = minutes / 60
hours

3.3333333333333335

**Objectives:**

- List popular languages for Data Science.
- Understand the use of Jupyter Notebooks for Data Science.
- Learn basic arithmetic operations in Python.
- Convert units (e.g., minutes to hours).
- Create tables using Markdown syntax.

## Author

Saara Ndjimba